[Desktop Entry]
Type=Application
Exec=/home/x/.pyenv/versions/supervisor/bin/supervisord -c '/home/x/work/config/supervisor/supervisord.conf'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=supervisor
Name=supervisor
Comment[en_US]=
Comment=
